name: Build iOS
on: 
  workflow_dispatch: # This adds a "Run" button so you can start it manually
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Dependencies
        run: |
          brew install autoconf automake libtool pkg-config
          python -m pip install --upgrade pip
          pip install kivy-ios buildozer cython==0.29.33

      - name: Build IPA
        run: |
          buildozer ios debug
        env:
          BUILDOZER_WARN_ON_ROOT: 1
